container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    
option_settings:
  "aws:elasticbeanstalk:container:python:environment":
  DJANGO_SETTINGS_MODULE: "NeitzModel.settings"
  AWS_ACCESS_KEY_ID: "AKIAJ6X5SXHTAE5EGIFQ"
  AWS_SECRET_ACCESS_KEY: "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"
  AWS_STORAGE_BUCKET_NAME: "elasticbeanstalk-us-west-2-029218299681"
  SECRET_KEY: "u4*fy%_sdh4i#9fodefx4we4+6_bjl$iug+8eetc!-v*jzq@qt"
 "aws:elasticbeanstalk:container:python":
  WSGIPath: "NeitzModel/wsgi.py"
 "aws:elasticbeanstalk:container:python:staticfiles":
  "/static/": "static/"
