container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    
option_settings:
  "aws:elasticbeanstalk:container:python:environment":
  - option_name: DJANGO_SETTINGS_MODULE
    value: NeitzModel.settings
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJ6X5SXHTAE5EGIFQ
  - option_name: AWS_SECRET_ACCESS_KEY
    value: 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
  - option_name: AWS_STORAGE_BUCKET_NAME
    value: elasticbeanstalk-us-west-2-029218299681
  - option_name: SECRET_KEY
    value: u4*fy%_sdh4i#9fodefx4we4+6_bjl$iug+8eetc!-v*jzq@qt
 "aws:elasticbeanstalk:container:python":
  - option_name: WSGIPath
    value: NeitzModel/wsgi.py
 "aws:elasticbeanstalk:container:python:staticfiles":
  - option_name: /static/
    value: static/
