<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
        


	<style>
    
    @import url("{{ STATIC_URL }}style/style.css");
    @import url("{{ STATIC_URL }}style/figures.css");
    
	</style>
</head>


<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{ STATIC_URL }}js/d3.legend.js"></script>
<script src="{{ STATIC_URL }}js/jquery.js" type='text/javascript'></script>
    
<body>
        
    <h2 class="title"> the neitz model </h2>
    
    <img src="{{ STATIC_URL }}images/SchematicEye.jpg" id="schematicEye" />
    <img src="{{ STATIC_URL }}images/baboon.jpg" id="baboon" />
     
    
    <span class='textbox' id='options'>options: </span>
    
    <div class='inputholder'>
        <span id='cone_text'>cone spacing: </span>
        <span id='cone_val'> 2 arcmin </span>
        
        <br>
        
        <form id= "optionsForm" action="." method="post">
            {% csrf_token %}
            <input name='coneInput' id='coneInput' type='range' min=1 max=9  step=1 value=2.0>
                
            <br>
            <br>
                
            <span class='textbox'>select optical state: </span>
                
            <br>
                
            <select id='opticSetting1' name="optic1" value="{{ optic1 }}">
            {% for key,value in opticDict.iteritems %}
                {% if key != 'freqs' %}
                    {% for optic in value %}
                        {% if "{{ key }} : {{ optic }}" == "{{ optic1 }}" %}
                            <option selected> {{ key }} : {{ optic }} </option>
                        {% else %}
                            <option> {{ key }} : {{ optic }} </option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </select>
                
            <br>
                
            <select id='opticSetting2' name="optic2" value="{{ optic2 }}">
                {% for key,value in opticDict.iteritems %}
                    {% if key != 'freqs' %}
                        {% for optic in value %}
                            <option> {{ key }} : {{ optic }} </option>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </select>
                
            <input type="submit" value="update" id="runButton">
 
        </form>
    </div>
    
<script>
    
    var dataDif = {{ MTF_Dif }},
        dataOpt = {{ MTF_A }},
        dataOptB = {{ MTF_B }},
        DOG = {{ DOG }},
        DOG_xvals = {{ DOG_xvals }},
        DOG_fft = {{ DOG_fft }},
        opt1 = "{{ optic1 }}",
        opt2 = "{{ optic2 }}";
    
</script>
    
<script src="{{ STATIC_URL }}js/plotter.js" type='text/javascript'></script>
    
<div class="textArea">
    <h1 align=center> _______ </h1>
    
    
    <h2 align=center>instructions</h2>
    <p> Try playing around with the options above. Currently they are a work in progress.  The slider does nothing. </p>
    
    
    <h1 align=center> _______ </h1>
    <h2 align=center> explanation of the model</h2>
    
    <p> A longer description of this project is being written.</p>
    <p> For now, see the <a href="http://staff.washington.edu/bps10/">documentation</a> for more information on the API.  The source code can be viewed or downloaded from <a href="http://github.com/bps10/NeitzModel/"> github</a>.</p>
</div>


</body>
</html>

